h1 {font-size: 45px;
    }
h1{ color: rgb(103, 4, 112);}
.container {display: flex;}
Body{background-color: #b88498;margin-top:auto;position: relative;}
h1 {font-style: oblique;font-family:Georgia, 'Times New Roman', Times, serif;font-size: xx-large;}
h2 {font-style: oblique;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;color: #54486a;font-size: xx-large;}
p {color: #5f2a6b;font-style: oblique;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}
h3 {color:#8a6692;font-size: x-large;;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}
#one {font-size: xx-large}
#two {font-size: x-large;}

.passiondescri {color: #8a6692;font-size: x-large;font-family: Georgia, 'Times New Roman', Times, serif;}
table, th, td {
    border: 2px solid rgb(117, 3, 89);}

  nav 
  {
      margin: 0px auto;
      width: 100%;
      height: 100px;
      background: rgb(110, 8, 86)}
  nav .main_pages 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .main_pages a 
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: black;}
    nav a:hover 
{
    background: #5A5766}
    

img {display: block;
    width : 300px;
    height : 300px;margin: auto;border-radius: 8px;  
}
    h4 {text-align:bottom right ;color: black;}
       
    #cv {color: black;}
    @media all and (max-width: 991px) { .Le_menu { height: 60px} .Le_menu .main_pages { display: none; } .label-hamburger { width: 30px; display: flex; justify-content: center; align-items: center; margin: 0px auto; font-size: 40px; color: white; cursor: pointer; } }
    label, #toggle { display: none; } @media all and (max-width: 991px) { .Le_menu { height: 60px; } .Le_menu .main_pages { display: none; flex-direction: column; background: #48435C; height: 220px; } .Le_menu .main_pages a { width: 50%; } .label-hamburger { width: 30px; display: flex; justify-content: center; align-items: center; margin: 0 auto; font-size: 40px; color: white; cursor: pointer; } #toggle:checked + .main_pages{ display: flex; } }
.Le_menu {z-index: 1;position: relative;}
#photo {z-index:0;position: relative;
    border-radius: 8px;
  }


.About {
text-align:center}

.dark-mode{background-color: rgb(18, 6, 26);color: bisque;}

table {margin: auto;justify-content: center;font-size:25px;}

.button {color: #000000;background-color: rgb(110, 8, 86);width:80px;}

.reves {text-align: center;}
.Hobbies {text-align: center;}

footer {position: absolute;bottom:0;left: 0;}

.index {text-align: center;max-width: 720px;margin: auto;} 

